
<button (click)="CreateNewEntry()" class="btn btn-primary">Nuevo Producto</button>
<table>
    <tr>
      <th><b>Nombre</b></th>
      <th><b>Marca</b></th>
      <th><b>Descripción</b></th>
      <th><b>Precio</b></th>
      <th><b>Descuento</b></th>
      <th><b>Tipo de Descuento</b></th>
    </tr>
    @for (prod of products; track $index) {
      <inventory_item (entryDeletedEvent)="OnChildButtonClick()" style="display: contents;" [id]="prod.id" [name]="prod.name" [brand]="prod.brand" [description]="prod.description" [price]="prod.price" [discount]="prod.discount" [discount_type]="prod.discount_type" [isEditable]="prod.isEditable"></inventory_item>
    }
</table>
