<div>
  <button (click)="CreateNewEntry()" class="btn btn-primary">Nuevo Producto</button>
  <table>
      <tr>
        <th><b>Imagen</b></th>
        <th><b>Nombre</b></th>
        <th><b>Marca</b></th>
        <th><b>Descripción</b></th>
        <th><b>Precio</b></th>
        <th><b>Descuento</b></th>
        <th><b>Tipo de Descuento</b></th>
        <th><b>Precio final</b></th>
        <th><b>Stock</b></th>
      </tr>
      @for (prod of products; track $index) {
        <inventory_item (entryDeletedEvent)="OnChildButtonClick()" style="display: contents;" [product]="prod"></inventory_item>
      }
  </table>
</div>
