@if (product != null) {
  <img src="{{'http://l0nk5erver.duckdns.org:5000/products/img/'+product.id+'.png'}}" alt="" style="height: 150px; width: 150px;">
  <ul>
    <li><b>{{product.name}}</b></li>
    <li><a>{{product.brand}}</a></li>
    <li><a>{{product.description}}</a></li>
    <li><a>✰{{product.rating}}</a></li>
    @if (product.discount == 0) {
      <li><a>${{product.price}}</a></li>
    } @else {
      <li><s>${{product.price}}</s><b>{{" $" + (product.discount_type === 'P' ? product.price*(1-(product.discount*0.01)) : product.price-product.discount) }}</b></li>
    }
    <button (click)="OnButtonClick()" class="btn btn-primary">Ver mas...</button>
    <br>
    <button (click)="OnCartButtonClick()" class="btn btn-primary {{buttonStatus}}">Agregar al carrito</button>
    <p></p>
  </ul>
}
