
<nav class="navbar navbar-dark bg-dark fixed-top navbar-collapse navbar-expand-md">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link {{navlink1Status}}" routerLink="{{loginDestination}}">{{ loginText }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{navlink2Status}}" routerLink="/">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{navlink3Status}} {{navlink3Enabled}}" routerLink="/cart">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{navlink4Status}} {{navlink3Enabled}}" routerLink="/purchases">Compras</a>
          </li>
          @if (role === 'admin' || role == 'owner') {
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{navlink5Status}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/admin/inventory">Inventario</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/admin/users">Usuarios</a></li>
              </ul>
            </li>
        }
        </ul>
      </div>
    </div>

    <a class="navbar-brand" routerLink="/">{{name + " " + lname}}</a>
  </div>
</nav>
<div style="height: 56px;"></div>
<main class="main">
</main>
<router-outlet />
