@if (user != null) {
  <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 600px; border-radius: 16px;">

      <h4 class="text-center text-primary mb-4">👤 Mi Perfil</h4>

      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label fw-bold">Nombre</label>
          <input [(ngModel)]="user.name" class="form-control form-control-sm">
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold">Apellido</label>
          <input [(ngModel)]="user.lname" class="form-control form-control-sm">
        </div>
        <div class="col-md-12">
          <label class="form-label fw-bold">Correo</label>
          <input [(ngModel)]="user.email" class="form-control form-control-sm">
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold">Contraseña</label>
          <input [(ngModel)]="user.password" class="form-control form-control-sm" type="password">
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold">Rol</label>
          <input [(ngModel)]="user.role" class="form-control form-control-sm" disabled="true">
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold">País</label>
          <input [(ngModel)]="user.country" class="form-control form-control-sm">
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold">Estado / Departamento</label>
          <input [(ngModel)]="user.state" maxlength="50" class="form-control form-control-sm">
        </div>
        <div class="col-md-12">
          <label class="form-label fw-bold">Dirección</label>
          <input [(ngModel)]="user.address" class="form-control form-control-sm">
        </div>
      </div>
      <div style="height: 12px;"></div>
      <button (click)="update()" class="btn btn-primary">Guardar</button>
    </div>
  </div>
}

